body{
	font-size:10px;
	color:#121D73;
	background-color:#9BFF9A;
	font-family:Avenir Next;
}
#brand-span{
	font-size: 15px;
}
h1{
	font-size:35px;
}
	
#header-nav{
	background-color:#FFFFFF;
	border-radius:0;
	border:0;
}

#logo-img{
	background: url('../images/trebol5.png') no-repeat;
	width:144px;
	height:140px;
	margin: 10px 0px 10px 10px;
}
#iso-cert{
	background: url('../images/iso-9001-2015-certification-service.png') no-repeat;
}
/****Para dispositivos moviles****/
@media (min-width: 360px) and (max-width: 680px)  {
    h1{
        font-size:16px;
    }
    #brand-span{
	font-size: 10px;
	}
	#logo-img{
	background: url('../images/trebol5-mobile.png') no-repeat;
	width:93px;
	height:90px;
	margin: 10px 0px 10px 10px;
	}

	#iso-cert{
	  background: url('../images/iso-9001-2015-certification-service-mobile.png') no-repeat;
	  width:27px;
	  height:25px;
	  }

}
