body{
	font-size:10px;
	color:#121D73;
	background-color:#9BFF9A;
	font-family:Avenir Next;
}
#brand-span{
	font-size: 13px;
}
h1{
	font-size:30px;
}
	
#header-nav{
	background-color:#FFFFFF;
	border-radius:0;
	border:0;
}

#logo-img{
	background: url('../images/trebol5.png') no-repeat;
	width:144px;
	height:140px;
	margin: 10px 0px 10px 10px;
}